<nav class="navbar navbar-fixed-bottom text-center">
    <img src="images/super-footer-upper-part.png" height="30px"/>
    <div ng-hide="hasSmallFooter()">
        <div class="darkbrown" style="height:200px;text-align: center;">
            <span style="color:#FFF;line-height:200px;font-size:25px;">
                Super Analytics Oy
            </span>
        </div>
    </div>
    <div ng-show="hasSmallFooter()">
        <div class="darkbrown" style="height:40px;text-align: center;">
            <span style="color:#FFF;line-height:40px;font-size:15px;">
                Super Analytics Oy
            </span>
        </div>
    </div>
</nav>
