<div class="page page-dashboard" data-ng-controller = "HomeCtrl" class="HomePage">
    <div class="row" style="padding-top:20px;">
        <div class="col-md-3" style="width:320px!important;padding-left:30px !important;">
            <div>
                <img src="images/superbrain-logo-dark.png" width="300px"/>
            </div>
            <!--<img src="images/superbrain-logo-dark.png" class="full_logo" width="300px"/>-->
            <div>
            <img src="images/start-dashing-button.png" ng-click="addDashboard()" width="250px" style="margin-top:50px;cursor:pointer;"/>
            </div>
            <div>
            <img src="images/learn-more-button.png" ng-click="gotoResources()" width="250px" style="margin-top:10px;margin-left:35px;cursor:pointer;"/>
            </div>
        </div>
        <div class="col-md-9">
            <div class="darkbrown trianglebar" style="text-align: center;">
                Hello and welcome to SuperBrain
            </div>
            <div class="container" style="width:70%;">
                <div class="row">
                    <div class="col-lg-6">
                        <h3>Account Migration</h3>
                        <p>Migrating data from Google Analytics to another google Analytics account</p>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/tRUWXBzqyms" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3>Multi-Brand Websites</h3>
                        <p>Using SuperBrain for analyzing multi-site data, Brands, media, and localizations.</p>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/wqwgO8nA_Ok" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h3>What is SuperBrain?</h3>
                        <p>General introductory video to explain what challenges SuperBrain covers.</p>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/7uVecWCrGqY" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  