
<div class="page page-profile">

    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-profile">
                <div class="panel-heading bg-primary clearfix">
                    <a href="" class="pull-left profile">
                        <img alt="" src="{{userInfo.picture}}" class="img-circle img80_80">
                    </a>
                    <h3>{{userInfo.name}}</h3>
                    <p>Project Manager</p>
                </div>
            </div>
        </div>
    </div>
</div>