<div class="page-signin" style="background-image:url('images/header-sign-in.png');background-size:cover;height:100%;width:100%;display:table;">
    <div class="container" style="display:table-cell;vertical-align: middle;">
        <div class="form-group text-center"> <img src="images/superbrain-logo-ight.png" width="300px"/><br/>
                <span style="font-size:50px;font-weight:bold;color:#FFF;">
            SuperBrain
        </span></div>
        <div class="form-group text-center">
            <google-plus-signin clientid="297641329485-45rfdicrb99rkammjhjeu84bprsf8d1o" title="Sign in with Google Analytics" language="en">Sign in with Google Analytics</google-plus-signin> <br/>
            <span style="color:#FFF;font-size:10px;">Patent Pending, US 14/688,674</span>
        </div>
    </div>
</div>
